<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.appplatform.stevedillner"
        version   = "2.0.1">
		
    <name>Steve Dillner</name>

    <description>
        Steve Dillner's Unlimited Business Card App from App-Platform.net. My name is Steve Dillner with American Mortgage and Equity Consultants, Inc. I have been helping people buy or refinance homes for the past 12 years and I welcome the opportunity to work with you too! I value all of my client's and can't wait to meet you to see how I can best server your mortgage financing needs.
    </description>

    <author href="http://app-platform.net" email="info@app-platform.net">
        App-Platform.net Team
    </author>
	
	<feature name="http://api.phonegap.com/1.0/network"/>

    <preference name="phonegap-version" value="3.1.0" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="false" />
	<preference name="android-installLocation" value="auto" />

    <icon src="iconsAndroid/android-icon-144x144.png" />
	<icon src="iconsAndroid/android-icon-36x36.png" gap:platform="android" gap:density="ldpi" />
	<icon src="iconsAndroid/android-icon-48x48.png" gap:platform="android" gap:density="mdpi" />
	<icon src="iconsAndroid/android-icon-72x72.png" gap:platform="android" gap:density="hdpi" />
	<icon src="iconsAndroid/android-icon-96x96.png" gap:platform="android" gap:density="xhdpi" />
	<icon src="iconsAndroid/android-icon-144x144.png" gap:platform="android" gap:density="xxhdpi" />

	<gap:splash src="iconsAndroid/android-startup-image-200x320.png" gap:platform="android" gap:density="ldpi" />
	<gap:splash src="iconsAndroid/android-startup-image-320x480.png" gap:platform="android" gap:density="mdpi" />
	<gap:splash src="iconsAndroid/android-startup-image-480x800.png" gap:platform="android" gap:density="hdpi" />
	<gap:splash src="iconsAndroid/android-startup-image-720x1280.png" gap:platform="android" gap:density="xhdpi" />
	<gap:splash src="iconsAndroid/android-startup-image-720x1280.png" gap:platform="android" gap:density="xxhdpi" />
	
	<gap:plugin name="org.apache.cordova.device" />
	<gap:plugin name="org.apache.cordova.InAppBrowser"/>

</widget>